@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

[data-theme="dark"] {
  --foreground: #fff;
  --background: #000;
}

body {
  @apply transition-colors duration-200;
}

* {
  @apply border-foreground/20;
}
